.myBtn {
  width: auto;
  height: 40px;
  margin: 5px;
  padding: 5px;
  background-color: aqua;
  border-radius: 15px;
  font-weight: 900;
  border-width: 5px;
  /* border: 5px dotted rgb(66, 5, 252); */
}

.double {
  width: auto;
  height: 40px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(206, 11, 245);
  border-radius: 15px;
  font-weight: 900;
  border-width: 5px;
  /* border: 5px dotted rgb(83, 252, 5); */
}
